*{

  font-family:' Montserrat', Times, serif;
 
}

body{
  background-color: rgb(239, 227, 252);
}
.dashbord{
  background-color:#fff;
  border-radius: 25px;
  min-height: 100vh;
    width:70%;
  padding:20px ;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin: 80px auto ;
}

.dashbord .show{
  padding:10px ;
  width: 300px;
  height:200px;

}

.banner{
  display: flex;
  flex-direction:row;
  gap:600px ;
}




.logo{
  height: 100px;
}

nav .fa{
  display: none;

}


.nav-links{
  flex: 1;
  text-align:left;

}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px;
  position: relative;
}
.nav-links ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 33px;
}
.nav-links ul li::after{
  content:'';
  width: 0%;
  height: 2px;
  background:#bd0cb1;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 20%;
}

@media(max-width:500px){



.dashbord{
  border-radius: 25px;
  width:350px ;
  padding:0px ;
  margin: 0px ;
}

.dashbord .show{
  padding:10px ;
  width: 330px;
  height:240px;
  gap:40px ;
}





.nav-links ul li::after{
  background:transparent;
}
.nav-links ul li a{
  font-size: 32px;
  color: #ffffff;
  text-shadow: none;
}
.nav-links ul li{
  display: block;
}
.nav-links ul li::after{
  background:transparent;
}
.nav-links{
  position: absolute;
  background:#FE509A;
  height: 100vh;
  width: 200px;
  top: 0;
  text-align: left;
  z-index: 2;
  transition: 1s;
}
nav .fa{
  display:flex;
  flex-direction: row;
  color: #000000;
  margin: 0px;
  font-size: 32px;
  cursor: pointer;
}
#bars{
  margin-top: 10px;
  margin-left: -550px;
}
.nav-links ul{
  padding: 20px;
}


.home{
  display: flex;
  align-items:center;
  font-size: 30px;
  text-decoration: none;  
  color: rgb(0, 0, 0);
  margin-top: 20px;
  
}

.logo{
  margin: 10px 20px ;
  height: 50px;
}

}